<%- include('./partials/header.ejs') %>

    <section class="gradient-custom container vh-100">
        <div class="container py-5 h-100 row justify-content-center align-items-center">
                <div class="col-12 col-lg-9 col-xl-8">
                    <div class="card shadow-2-strong card-registration">
                        <div class="card-body shadow" style="background-color: #EBEBEB;border-radius: 5px;">
                            
                            <form action="/login" method="post" id="form" class="d-flex flex-column align-items-center mt-3">
                                
                                <div class="mb-5">
                                    <div class="fw-bold text-center fs-5 text-uppercase mb-1">login</div>
                                    <div class="text-center" style="font-size: 16px;">Enter login details to get access</div>
                                </div>

                                <div class="col-md-6">

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="email">Email Address</label>
                                      <input type="text" id="email" name="email" style="box-shadow: none;" class="form-control" required/>
                                    </div>
                                    
                                    <div class="form-outline mb-2">
                                        <label class="form-label" for="password">Password</label>
                                      <input type="password" name="password" id="password" style="box-shadow: none;"  class="form-control password" required/>
                                    </div>

                                    <div class="d-flex justify-content-between mb-4">

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" checked name="keepLogin"  id="flexCheckDefault">
                                            <label class="form-check-label fw-bold" style="font-size: 16px;" for="flexCheckDefault">Keep Me Logged In</small>
                                        </div>
                                        
                                        <a  style="color: #7FAD39;font-size: 16px;text-decoration: none;" href="/forgotPassword">Forgot Password?</a>
                                    </div>
                  
                                </div>

                                <div id="error-field" class="text-danger"></div>
                                <div class="text-center text-danger"><%= message %></div>

                                <button type="submit" style="background-color: #7FAD39;color: #fff;width: 200px;" class="btn fw-normal p-10 mb-3 mt-3">Login</button>

                                <div class="text-center mb-3" style="font-size: 16px;">Already have an account? <a style="color: #7FAD39;" href="/signup">Signup</a> here</div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <script>
        
        const form = document.getElementById('form');
        const email = document.getElementById('email');

        const emailRegex = /^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/;

        form.addEventListener('submit', (e)=>{
            e.preventDefault();

            if(!emailRegex.test(email.value)){
                document.getElementById('error-field').innerHTML = "Please enter valid email"
                document.getElementById('error-field').style.display = "block"
            }else{
                document.getElementById('error-field').innerHTML = ""
                document.getElementById('error-field').style.display = "none"
                form.submit();
            }
        })


    </script>


<%- include('./partials/footer.ejs') %>
