<%- include('./partials/header.ejs') %>

<section class="gradient-custom container vh-100">
  <div class="container py-5 h-100 row justify-content-center align-items-center">
    <div class="col-12 col-lg-9 col-xl-8 h-75 d-flex justify-content-center">

        <div class="" style="width: 25rem;">
            <p class="fw-bold fs-5 text-center">We have a send a verification mail to your email. Please verify to continue...</p>
            <img src="https://img.freepik.com/free-vector/work-time-concept-illustration_114360-1271.jpg?w=740&t=st=1687321943~exp=1687322543~hmac=11cc3e2b8dd25ac2b62bd9d1178aa2988a39d11b898bcc80ad05c3498e8a8682" class="card-img-top" alt="Sunset Over the Sea"/>
        </div>
          
       
    </div>
  </div>
</section>

<%- include('./partials/footer.ejs') %>
