<%- include('./partials/header.ejs') %>

    <div class="container-fluid d-flex gap-4" style="background-color: #EDF1F5;">

        <%- include('./partials/sidebar.ejs') %>

          
        


  
  


            

       
    </div>

    <%- include('./partials/footer.ejs') %>