<%- include('./partials/header.ejs') %>

    <div class="container-fluid d-flex gap-4" style="background-color: #EDF1F5;">
        <div class="row shadow-lg">
            <div class="d-flex flex-column justify-content-between col-auto bg-light min-vh-100 col-12">
                <div class="mt-4">

                    <ul class="nav nav-pills flex-column mt-2 mt-sm-0" id="menu">
                        <li class="nav-item my-sm-1 my-2">
                            <a href="#" class="nav-link text-dark text-center text-sm-start" aria-current="page">
                                <i class="fa fa-gauge d-sm-none d-inline"></i>
                                <span class="ms-2 d-none d-sm-inline">Dashboard</span>
                            </a>
                        </li>

                        <hr class="text-dark d-none d-sm-block my-3" />

                        <li class="nav-item my-sm-1 my-2">
                            <a href="#categorymenu" data-bs-toggle="collapse"
                                class="nav-link text-dark text-center text-sm-start" aria-current="page">
                                <i class="fa fa-table d-sm-none d-inline"></i>
                                <span class="ms-2 d-none d-sm-inline">Category</span>
                            </a>

                            <ul class="nav collapse ms-1 flex-column " id="categorymenu" data-bs-parent="#menu">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="#" aria-current="page">Add Category</a>
                                </li>
                            </ul>
                        </li>

                        <hr class="text-dark d-none d-sm-block my-3" />

                        <li class="nav-item my-sm-1 my-2">
                            <a href="#sidemenu" data-bs-toggle="collapse"
                                class="nav-link text-dark text-center text-sm-start" aria-current="page">
                                <i class="fa fa-shop d-sm-none d-inline"></i>
                                <span class="ms-2 d-none d-sm-inline">Products</span>
                            </a>

                            <ul class="nav collapse ms-1 flex-column " id="sidemenu" data-bs-parent="#menu">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" style="font-size: .75rem;" href="#" aria-current="page">Add Products</a>
                                </li>
                            </ul>
                        </li>

                        <hr class="text-dark d-none d-sm-block my-3" />

                        <li class="nav-item my-sm-1 my-2">
                            <a href="#" class="nav-link text-dark text-center text-sm-start" aria-current="page">
                                <i class="fa fa-truck-fast d-sm-none d-inline"></i>
                                <span class="ms-2 d-none d-sm-inline">Orders</span>
                            </a>
                        </li>

                        <hr class="text-dark d-none d-sm-block my-3" />

                        <li class="nav-item my-sm-1 my-2">
                            <a href="#" class="nav-link text-dark text-center text-sm-start" aria-current="page">
                                <i class="fa fa-users  d-sm-none d-inline"></i>
                                <span class="ms-2 d-none d-sm-inline">customers</span>
                            </a>
                        </li>

                        <hr class="text-dark d-none d-sm-block my-3" />

                    </ul>
                </div>


            </div>


        </div>

        

            

            <div class="row row-cols-1 row-cols-md-3 g-4 mt-3 mb-5 w-100 px-5">

                <% for(let i=0;i<20;i++){%>

                <div class="col col-md-4 col-sm-6">
                    <div class="card">
                        <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fs1.picswalls.com%2Fwallpapers%2F2017%2F12%2F11%2Fnature-desktop-background_123026895_313.jpg&f=1&nofb=1&ipt=b9e39da68977f9dc22a7e0f40da42cf2cbe74873a1f7d0fc0862f3c87ed97286&ipo=images" class="card-img-top" alt="...">
                        <div class="card-body d-flex flex-column align-items-center">
                            <h5 class="card-title fs-6 text-center">Card title</h5>
                            <h5 class="card-title fs-6">price</h5>
                            <div class="d-flex justify-content-between">
                                <a href="#" style="font-size: .55rem;" class="btn btn-outline-success">edit</a>
                                <a href="#" style="font-size: .55rem;" class="btn btn-outline-success">edit</a>
                            </div>

                        </div>
                    </div>
                </div>
                
                <%}%>
                
            </div>

       
    </div>

    <%- include('./partials/footer.ejs') %>