<!-- Footer Section Begin -->
<footer class="footer spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__about__logo">
                        <a class="navbar-brand text-dark fs-4 fw-bold" href="#">FRESH<span class="text-danger">org</span></a>
                    </div>
                    <p>Freshorg Private Limited,<br>
                        Shoba City,<br>
                        Ayyanthole Road,<br>
                        Thrissur, 670301, Kerala, India<br>
                        Telephone: 04485-45614700
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                <div class="footer__widget">
                    <h6>Useful Links</h6>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/shop">Shop</a></li>
                        <li><a href="/cart">Cart</a></li>
                        <li><a href="/wishlist">Wishlist</a></li>
                        <li><a href="/profile">Profile</a></li>
                    </ul>
                    <ul>
                        <li><a href="/wallet">Wallet</a></li>
                        <li><a href="/address">Address</a></li>
                        <li><a href="/order">Orders</a></li>
                    </ul>
                </div>
            </div>
            
            <div class="row border-top border-light px-4 py-4">
                <div class="col-md-12 px-xl-0">
                  <p class="mb-md-0 text-center text-md-left text-dark">
                    © <a class="text-dark font-weight-semi-bold" href="#">Freshorg</a>. All Rights Reserved. Designed
                    by Ashmil
                  </p>
                </div>
              </div>
        </div>
        
</footer>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/mixitup.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>



</body>

</html>